/bin
/log
.generated-yml
*~
/xmlBatch/output*
/xmlBatch/outputTest.xml
/xmlBatch/result.xml
/xmlBatch/output-inputTest.xml
/xmlBatch/output-inputTest.html
*.yma
*.ini
/test/output
/test/reports

